:root {
    --background-color: #e3f2ff;

}

body {
    background: var(--background-color);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
}

.profile {
    background-color: #fff;
    width: 50%;
    height: 70%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 10px;
    font-family: sans-serif;
    position: relative;
}

.profile img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 2px solid #000;
}

.profile .buttons {
    display: flex;
    flex-direction: row;
    gap: 10px;
    height: 50px;
    width: 80%;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 30px;
}

.profile #signoutBtn {
    font-size: 30px;
    font-family: sans-serif;
    padding: 10px 30px;
    border: none;
    background-color: #2e2e2e;
    color: #fff;
    border-radius: 10px;
    cursor: pointer;
}

.profile #deleteBtn {
    font-size: 30px;
    font-family: sans-serif;
    padding: 10px 30px;
    border: none;
    background-color: #2e2e2e;
    color: #fff;
    border-radius: 10px;
    cursor: pointer;
}